/* Overwrite Materialize */
.card {
  background: none !important;
}

/* Custom Stylesheet */

body {
  background-size: cover;
  min-height: 100% !important;
}

.site-wrapper {
  min-height: 800px !important;
  height: 100%;
  height: -webkit-fill-available;
  transition: .5s all;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

nav.transparent {
  box-shadow: none;
  /*background: linear-gradient(#00000047, #00000026, #00000000);*/
  position: fixed;
  padding-bottom: 120px;
}

.forma {
  color: white;
}

.input-field>label {
  color: white;
  font-size: 24px;
  line-height: 1;
}

.search-widget {
  animation-duration: 1.5s;
}

input#search::placeholder {
  color: white;
}

.widget-weather,
.widget-time,
.widget-news {
  visibility: hidden;
}

.widget-time {
  cursor: pointer;
}

.widget-weather {
  cursor: pointer;
}

.widget-weather-icon {
  min-width: 106px !important;
}

.widget-weather-data {
  min-width: 153px;
}

.weather-progress {
  margin-top: 35px;
}

.widget-logoOverSearch {
  visibility: hidden;
}

.container {
  max-width: 90%;
  width: 90%;
}

.details-text {
  margin-top: 15px;
}

.stadiumIcon {
  padding-right: 10px;
  vertical-align: bottom;
  display: inline;
}

.detailsCard-description,
.detailsCard-year {
  display: inline;
}

ul#nav-mobile {
  height: 100vh;
}

.sidenav {
  width: 400px;
}

nav a.sidenav-trigger {
  display: block;
}

.switch {
  margin-bottom: -10px;
}

.switch-name {
  display: inline-block;
  font-size: 17px;
  line-height: 35px;
}

.switch-input {
  display: inline-block;
  float: right;
  padding-top: 10px;
  padding-right: 40px;
}

input#search:focus:not([readonly]) {
  background-color: #fff !important;
  border: 1px #ccc solid;
  border: 0;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

/* Details Card */

.details {
  visibility: hidden;
}

.details {
  background: #00000036;
  transition: .7s;
}

.details:hover {
  background: #00000061;
}

.detailsCard-description {
  display: inline;
}

.details-poster {
  margin: 0px;
  padding: 0px;
}

img.footer-logo {
  width: 100%;
  max-width: 200px;
  padding: 10px;
}

img.footer-logo {
  width: 100%;
  max-width: 200px;
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* END Details Card*/

.weather-icon {
  padding: 10px 0px 0px 35px;
  font-size: 46px;
}

.paddingBottom20 {
  padding-bottom: 20px;
}

.details-poster {
  margin: 0px;
  padding: 0px;
}

iframe#ytplayer {
  width: 100%;
  height: 100%;
}

div#trailerModal {
  height: 75vh;
  max-height: 75vh;
  width: 70vw;
  max-width: 70vw;
}

.modal-content {
  height: 92%;
  width: 100%;
}

.input-field .prefix.active {
  color: white;
}

/* v2 CSS */

p.time {
  margin: 0px;
  font-size: 36px;
  display: inline-block;
}

p.date {
  margin: 0;
  line-height: 0;
  margin-top: -10px;
  margin-left: 4px;
  font-size: 14px;
}

i.material-icons.header-icon {
  display: inline-block;
}

p.white-text.weather-temp {
  margin: 0px;
  font-size: 36px;
  display: inline-block;
}

p.weather-location {
  margin: 0;
  line-height: 0;
  margin-top: -11px;
  font-size: 14px;
}

.widget-clock-icon {
  margin-right: 10px;
}

footer.page-footer.transparent>.container {
  display: none;
}

.dropdown-content li>a,
.dropdown-content li>span {
  color: #484747;
}

#logosearch img {
  position: relative;
  z-index: 333 !important;
}

.b_searchboxSubmit {
  height: 54px;
  width: 51px;
  border-width: 11px;
  border: 8px solid #fff;
  background-position: -5px -6px;
  overflow: hidden;
  vertical-align: top;
  text-indent: -99em;
  position: relative;
  right: 0;
  top: 0;
  border-radius: 6px;
}

#focus_ovr {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  z-index: 99;
  opacity: 0;
  transition: .4s all;
}

.slikica {
  display: none;
  z-index: 333;
  text-indent: -20em;
  background-position: 0 0;
  position: relative;
  width: 200px;
  height: 70px;
  margin: 0 51px;

}

#slide-out-games {
  width: 40% !important;
}

#slide-out-games::-webkit-scrollbar {
  width: 7px !important;
  background-image: linear-gradient(to bottom, yellow, red);
}

#slide-out-games::-webkit-scrollbar-track {
  box-shadow: none !important;
}

#card-game {
  box-shadow: none !important;
  -webkit-transition: 0 !important;
  transition: 0 !important;
  transition: 0 !important;
  transition: 0, 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
}

.user-view {
  background-image: linear-gradient(to right, #1553c3, #3a74da, #79a4f1);
  height: 10px;
  padding-top: 12px !important;
}

.user-view-image {
  max-height: 52px;
}


/* SideNav Footer links */
li.sidenav-footer {
  position: absolute;
  bottom: 7vh;
}

.footer-links {
  text-align: center;
}

a.footer-link {
  margin: 20px;
  color: grey;
}

a.footer-link:hover {
  color: blue;
}

li.sidenav-footer {
  width: 100%;
}



/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: 250px;
  right: 50px;
  height: 5rem;
  width: 5rem;

  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: .5rem;
  content: attr(data-progress-text);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 7rem;
  line-height: 1;
  text-align: right;
  color: rgba(34, 153, 221, 0.89999999999999996);
}

/* END */
/* START */

/* Custom */
.hide {
  display: none;
}

.center-widget {
  min-height: 45vh;
  transition: .5s all;
}

ul.left.nav-menu {
  margin-left: -56px;
}

.icon-menu-big {
  font-size: 44px !important;
  margin-bottom: -12px !important;
  max-width: 48px;
  padding: 16px 0px 15px 0px;
}

.header-icon {
  font-size: 35px !important;
  margin-top: 4px;
  margin-bottom: -20px;
}

.time-icon {
  font-size: 48px !important;
}

.card-game {
  width: 12.7%;
  height: auto;
  display: inline-block;
  margin: 1.8% !important;
  margin-bottom: 10px !important;
  vertical-align: top;
  min-height: 133px;
  border-radius: 10px;
  transition: .2s all;
  background-color: white;
}

.card-game:hover {
  cursor: pointer;
}

.card-img-game {
  max-width: 100%;
  width: 100% !important;
  height: 80px;
  border-radius: 10px;
  border: 1px solid #00000026;
  box-shadow: 1px 1px 10px #00000042;
  transition: .2s all;
}

.card-img-game:hover {
  box-shadow: 1px 1px 20px #00000063;
  margin-top: -5px;
  height: 85px;
}

.card-title-game {
  margin-top: -10px;
  font-size: 16px !important;
  text-align: center;
}

.sidenav li>a {
  font-size: 20px !important;
  color: #636262 !important;
}

.modal {
  max-height: 90% !important;
  width: 75% !important;
}

#gameModal .modal-content {
  padding: 0px !important;
}

.time-icon {
  margin-top: 3px;
}

li.sidenav-trigger {
  margin: 0px 0px 20px 0px;
}

.games-list {
  padding-top: 20px;
}

.hideWidget {
  text-align: right;
  padding-right: 13px;
  color: #ffffff94;
  text-shadow: 1px 1px #0000003b;
  transition: 3s all;
  cursor: pointer;
}

.hideWidget i {
  font-size: 18px;
}

.hideWidgetQuotes {
  margin-top: -30px;
  float: right;
}

.sidenav-body-settings {
  max-height: 84vh;
  overflow: auto;
}

.manageSelection, .manageSelectionRemove {
  color: #f44336 !important;
  background: white;
}

/* Document Scrollbar */
::-webkit-scrollbar-thumb:hover {
  background: #0000006e;
}

::-webkit-scrollbar-thumb {
  background: #00000057;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* END Document Scrollbar */

/* Sidenav Scrollbar */
.sidenav::-webkit-scrollbar-thumb {
  background: #0000003d;
  border-radius: 10px;
}

.sidenav::-webkit-scrollbar-thumb:hover {
  background: #00000057;
}

/* END Sidenav Scrollbar */

.dropdown-content {
  border-radius: 15px;
  margin-top: 10px;
  box-shadow: 5px 5px 20px #0000005c;
}

/* News */
.expandToHideNews,
.expandToHideQuotes {
  transition: .5s all;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #000000d1 !important;
  font-size: 1.5em;
  text-transform: inherit !important;
  font-weight: 600;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #000000;
}

.card:hover {
  box-shadow: 1px 1px 40px #0000008a;
}

.card-article {
  transition: .3s all;
  border-radius: 3px !important;
  box-shadow: 1px 1px 10px #00000047;
  min-height: 150px;
}

.card-article-image {
  border-radius: 10px 10px 0px 0px !important;
}

.card-article-action {
  border-radius: 0px 0px 10px 10px !important;
  min-height: 108px !important;
}

.card-article-action {
  background: #f1f1f1 !important;
}

.card-content-article {
  background: #00000090;
  padding: 0px !important;
  bottom: 0 !important;
  position: absolute;
  border-radius: 2px;
  transition: .5s;
  min-width: 100%;
}

.card-title-article {
  font-size: 18px !important;
  text-shadow: 1px 1px 5px black;
  color: #efefef;
  min-height: 48px;
  margin: 0px;
  padding: 5px;
  line-height: 1.2 !important;
  margin-bottom: -1px !important;
}

/* END News */

/* Quotes */
.card-action-quote {
  border-radius: 10px !important;
}

.card-quote {
  background: #0000003b !important;
  border-radius: 10px !important;
  color: white !important;
  transition: .5s all;
}

.card.card-quote:hover {
  background: #00000062 !important;
}

.card-quote-wrap .card.card-quote .card-action.card-action-quote a.quote-text.quote-text {
  color: white !important;
  font-weight: 400;
}

.card-action.card-action-quote {
  background: none;
}

.card-action.card-action-quote-footer {
  background: none;
  min-height: 55px;
}

div#quote-footer>a {
  color: white !important;
}

/* END Quotes */

.inline-block {
  display: inline-block !important;
  vertical-align: middle;
}

.collapsible-header {
  width: 100%;
  padding: 0px 30px !important;
  font-size: 16px;
  font-weight: 500;
  color: #757575;
}

.collapsible-body {
  padding-left: 20% !important;
  padding-bottom: 20px !important;
}

/* Ad */
#adModal {
  top: 17% !important;
  width: 50% !important;
  height: 56% !important;
  box-shadow: 1px 1px 30px black;
}

.modal-content-ad {
  height: 86% !important;
  padding: 0px !important;
  margin: 0px !important;
}

.modal-content-ad>img {
  max-width: 300px;
  max-height: 250px;
}

.ad-modal-help-text {
  font-size: 17px;
  margin-right: 5px;
  vertical-align: sub;
}

/* END Ad */

/* Background selection */
.collapsible-body-backgrounds {
  padding: 5px !important;
}

.background-selection-switch {
  padding-left: 20% !important;
}

.background-selection-heart {
  bottom: -15px !important;
}

.body-backgrounds-header {
  font-size: 14px;
  padding-left: 13px;
}

.body-backgrounds-header>* {
  display: inline-block;
}

.favourites-instructions {
  line-height: 1.4;
  font-size: 16px;
  padding: 0px 15px;
}

.reset-picks {
  margin: -10px 11px 15px 0px;
}

.manageSelectionTrigger {
  cursor: pointer;
}

/* END Background selection */

/* Dropdowns */
#bookmarks {
  max-height: 400px;
  max-width: 400px;
  overflow-x: hidden;
}

#rateit1 {
  top: 55px !important;
  max-height: 400px;
  width: 339px !important;
  left: 150px !important;
  height: 145px !important;
  overflow: hidden;
  max-width: 400px;
  overflow-x: hidden;
  border-radius: 7px !important;
  background: #fff;
}

#bookmarks::-webkit-scrollbar {
  width: 10px !important;
  background-image: linear-gradient(to bottom, yellow, red);
}

#didyouknow {
  float: left;
  margin-left: 16%;
  visibility: hidden;
  transition: 1s all;
  margin-top: -10px;
  margin-bottom: -20px;
}

#apps {
  padding-top: 60px !important;
  min-width: 300px;
  overflow-x: hidden;
  border-radius: 7px !important;
  background-image: url('include/lytab-apps.png');
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

#quotedid {
  width: 30% !important;
  height: auto;
  background: #00000066 !important;
  ;
  border-radius: 10px !important;
  color: white !important;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;

  overflow: hidden;


}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#quotedid #quoteheader #quotebottom #quotetext {
  height: auto;
  width: 100%;
  outline: 0 !important;

}


#quoteheader {
  font-size: 18px;
  margin: 0px;
  min-height: 35px;
  line-height: 45px;
  float: left;
  width: 100%;
  outline: 0 !important;
  font-weight: 600;
  /*background:#0000008c !important;*/
}

#quotetext {
  margin: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
  float: left;
  width: 95%;

  outline: 0 !important;

}

html {
  overflow: scroll !important;
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
  width: 0px !important;
  /* remove scrollbar space */
  background: transparent !important;
  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #00000057;
}

#slide-out-bookmarks::-webkit-scrollbar {
  width: 7px !important;
}

#textqt {
  display: inline-block;
  height: 30px;
  line-height: 29px;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
  opacity: .85;
  color: #fff;
  font-size: 14px;
  padding: 0 10px 0 15px;
  float: left;
}

#imgqt {
  width: 30px !important;
  margin-top: 0px !important;
  display: block;
  margin-bottom: 0px !important;
  float: left;
  border-radius: 15px;
  background-color: rgba(32, 32, 32, 0.35);
  cursor: pointer;
  opacity: .85;

}

#dropqt {
  outline: 0;
  transition: 2s all;
}

#quotebottom {
  float: right;
  margin-right: 3%;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: 0 !important;
  color: white;
}

#quotebottom a {
  font-size: 17px;
}

#quotebottom a:hover {
  color: #35c2ef;
}

/* END Dropdowns */

/* Responsive */
@media only screen and (max-height: 768px) {
  .center-widget {
    min-height: 30vh;
  }
}

/* END Responsive*/

/* END Custom */

.sidenav li>a:hover {
  background-color: transparent !important;
}

.bold {
  font-weight: 800;
}



/* Rate */

.rate {
  float: left;
  margin: 20px 0px;
  height: 46px;
  padding: 0px 10px;
  outline: none;
}

.rate:not(:checked)>input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked)>label {
  margin-left: 23px;
  float: right;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: white;
}

.rate:not(:checked)>label:before {
  content: url('/include/blankheart.png');
}

.rate>input:checked~label {
  content: url('/include/redheart.png');
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
  content: url('/include/redheart.png');
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
  content: url('/include/redheart.png');
  border: black;
}

.rateitheader {
  text-align: center;
  font-size: 22px;
  width: 100%;
}

.rateitheader h5 {
  color: black;
  font-weight: 500;
  margin: 0px 0px -5px 0px;
}

.rateitbottom {
  float: left;
  color: black;
  text-align: center;

}

ul#rateit {
  width: 244px !important;
  height: 160px !important;
  padding: 12px !important;
}

.toast-action.close-toast {
  color: white;
}

.toast-action.toast-rate-button {
  color: white;
  font-size: 15px;
  background: #00000017;
}


/* Search */
.search-input {
  border: 1px #ccc solid;
  border: 0;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.white-text {
  text-shadow: 1px 1px 5px #00000042;
}

input#search {
  display: none;
  background-color: rgba(255, 255, 255, 0.2) !important;
  z-index: 10;
  border: 1px #cccccc21 solid;
  border: 0;
  height: 48px !important;
  padding: 0;
  box-shadow: 0 2px 14px rgba(0, 0, 0, .4);
  font: 18px/normal 'Segoe UI', Arial, Helvetica, Sans-Serif;
  padding-left: 15px !important;
  width: 75%;
  position: relative;
  border-radius: 40px;
  padding-left: 70px !important;
  font-size: 20px !important;
  transition: .7s all;
  transition-timing-function: ease-in-out;
}

.searchEngineSelect {
  position: absolute;
  opacity: 0;
  width: 59px;
  height: 49px;
  margin-left: 0px;
  border-radius: 27px 27px 27px 27px;
  background-color: #ffffff9c !important;
  background-size: 43% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  margin-right: -60px !important;
  display: inline-block;
  z-index: 999;
  cursor: pointer;
  transition: .5s all;
  box-shadow: 1px 1px 10px #00000021;
}

.searchEngineSelect:hover {
  background-color: white !important;
}

.searchEngineDropdown {
  visibility: hidden;
  margin: 49px 0px 0px 15px;
  position: absolute;
}

#searchEngineOptions {
  min-width: 150px;
  width: auto !important;
}

.searchEngineIcon {
  max-width: 30px;
  margin-right: 10px;
  vertical-align: sub;
}


/* Put top navigation behide overlay on search focus */
.nav-wrapper {
  z-index: 80;
  text-shadow: 1px 1px 5px #00000042;
}

#slide-out-rate {
  background: url("https://image.freepik.com/free-vector/red-hearts-background_1053-210.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: white;
}

.slide-out-rate-trigger {
  display: none;
}

.sidenav-footer-rate a.footer-link {
  color: white;
}

.sidenav {
  box-shadow: 1px 1px 10px #000000c7;
}

.blue.semi-transparent {
  background-color: #2196f3de !important;
}

/* Apps */
#apps-list {
  padding: 40px 10px;
}

li.app {
  width: 33%;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  transition: .2s all;
  padding: 15px 0px 0px 0px;
  margin: 0px !important;
}

.app .app-favicon {
  height: 50px;
  width: 50px;
  vertical-align: sub;
  margin: auto;
  margin-bottom: 5px;
}

.app .app-name {
  line-height: 1.2 !important;
  font-weight: 400 !important;
  padding: 10px 0px !important;
  font-size: 18px !important;
}

.app:hover {
  background: #00000017;
  border-radius: 15px;
}

/* Bookmarks */
li.bookmark {
  height: auto !important;
  line-height: 1;
  padding: 8px 10px;
  border-bottom: 1px solid #00000012;
  transition: .2s all;
}

li.bookmark:hover {
  background: #00000017;
}

.bookmark-favicon {
  width: 21px;
  margin-left: 15px;
  display: inline-block;
}

.bookmark .bookmark-name {
  display: inline-block !important;
  width: 320px !important;
  vertical-align: top !important;
  height: auto !important;
  line-height: 1.4 !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  padding: 0px 25px;
}

/* SearchAutocomplete */
.searchAutocomplete {
  visibility: hidden;
  text-align: left;
  border: none;
  z-index: 301;
  position: absolute;
  margin-top: -8px !important;
  left: 0;
  right: 0;
  margin: auto;
}

.searchAutocompleteRecommendation {
  padding: 10px 0px 10px 70px;
  font-size: 16px;
  background: white;
  color: black;
  cursor: pointer;
  animation-duration: .4s;
}

.searchAutocompleteRecommendation:hover {
  background: rgb(238, 238, 238);
}

.searchAutocompleteRecommendation:last-child {
  border-radius: 0px 0px 40px 40px;
}

.searchAutocompleteSiteplug {
  /*background: rgb(208, 238, 255);*/
  font-weight: 600;
  padding: 10px 0px 15px 44px;
}

.searchAutocompleteSiteplugDirectUrl {
  display: block;
  font-size: 12px;
  color: green;
  padding-left: 27px;
}

.searchAutocompleteSiteplug>img {
  vertical-align: sub;
  margin-right: 5px;
}

.hasResults {
  border-radius: 40px 40px 0px 0px !important;
  text-shadow: none !important;
}

.hasResultsSearchSelect {
  border-radius: 57px 0px 0px 0px;
  background-color: transparent !important;
  box-shadow: none;
  background-image: url("/include/search_dark.png") !important;
}

input#search:focus:not([readonly]) {
  border: 1px #ccc solid;
}

/* Quick Links*/

.quickLinksRow {}

.quickLink {
  width: 82px;
  vertical-align: top;
  display: inline-block;
  padding: 5px 20px 0px 1px;
  border-radius: 20px !important;
}

.quickLinkImage {
  border-radius: 18px;
  background-color: white;
  max-width: 45px;
  box-shadow: 1px 1px 20px #0000008f;
}

.quickLink-left,
.quickLink-right {
  display: inline-block;
  color: #cacaca;
  transition: .5s all;
}

.quickLink-navigation-icon {
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
  transition: .2s all;
}

.activeLinks {
  font-size: 20px;
  color: white;
}

.quickLinkTitle {
  color: white;
  max-width: 90px;
  overflow: hidden;
  text-align: center;
  margin: 5px 0px 6px 0px;
  text-shadow: 1px 1px 1px #00000094;
}

.quickLinkTitle:hover {
  overflow: visible;
}

.quickLinks-navigation {
  visibility: hidden;
  display: none;
}

/* Favourites settings trigger */
.bottom-triggers {
  position: fixed;
  opacity: 0 !important;
  left: 20px !important;
  bottom: 20px;
}

.bottom-trigger {
  display: inline-block;
}

.bottom-trigger-img {
  max-width: 26px;
  margin: 0px 0px 5px 10px;
}

/* Weather Forecast */
.user-view-weather-image {
  max-height: 50px;
}

.current-weather {
  padding: 20px 40px;
}

.current-weather-graphic {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.current-weather-details {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.current-weather-icon {
  font-size: 96px !important;
  margin-top: 10px;
  color: #888888;
}

.current-weather-location {
  font-size: 22px;
  line-height: 1.2;
}

.current-weather-city {
  font-weight: 500;
}

.current-weather-description {
  margin-top: 5px;
  font-size: 12px;
}

.current-weather-description-text {
  text-transform: capitalize;
}

.current-weather-temperature {
  font-size: 68px;
  display: inline-block;
}

.current-weather-format {
  display: inline-block;
  vertical-align: top;
  padding-top: 25px;
}

.format-c,
.format-separator,
.format-f {
  display: inline-block;
  margin-right: 1px;
  cursor: pointer;
}

.current-weather-description-text {
  text-transform: capitalize;
}

.current-weather-conditions>p {
  margin: 0px;
}

.weather-panel {
  background: #0000000d;
}

.collapsible-forecast {
  padding-left: 3% !important;
  padding-right: 3% !important;
}

.forecast-header-weather-icon {
  vertical-align: bottom;
}

.forecast-hour-card {
  display: inline-block;
  text-align: center;
  width: 33%;
}

.forecast-hourCard-icon {
  font-size: 38px;
  margin-top: 20px;
  color: #656363;
}

.forecast-hour-header {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
  line-height: 18px;
}

.forecast-hour-temp {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  line-height: 18px;
  color: #656363;
}

/* QuickLink popup modal */
.popupModal.small {
  width: 336px !important;
  height: 280px !important;
  margin-top: 20vh;
}

.popupModal.medium {
  width: 550px !important;
  height: 480px !important;
  margin-top: 10vh;
}

.popupModal.large {}

.modal-content-popup-ad {
  cursor: pointer;
}

.modal-content-popup-ad.small {
  width: 336px !important;
  height: 280px !important;
  margin: -24px 0px 0px -24px;
}

.modal-content-popup-ad.medium {
  width: 550px !important;
  height: 480px !important;
  margin: -24px 0px 0px -24px;
}

.modal-content-popup-ad.large {
  width: 75vw !important;
  margin: -24px 0px 0px -24px;
}

.btn-close-popup-modal {
  margin-top: -15px !important;
  background: #ffffff30;
  border-radius: 50%;
}

#iframeModal {
  width: 34% !important;
  margin-top: -60px !important;
  max-height: 92% !important;
}

iframe#iframeEmbed {
  height: 80vh;
}

/* Responsive */
@media only screen and (max-width: 1367px) {
  .card-game {
    width: 20.7%;
  }
}

/* Widget transitions */
.block {
  opacity: 0;
  pointer-events: none;
}

.show {
  opacity: 1 !important;
  pointer-events: all;
  visibility: visible;
  transition: 0.5s ease-in-out;
}

.fixQuotes {
  height: 0;
}

.fixQL {
  margin-top: -33px;
}

.tap-target-wrapper {
  top: -310% !important;
}

.btn-floating.halfway-fab{
  right: 70px;
}

.btn-floating.remove {
  right: 24px;
}

/*backgroundNotShow*/
.backgroundNotShow{
  opacity: 0.3;
}

.buttonNotShow {
  color: white !important;
  background-color: red;
}